<main>
    <section id="banner" class="banner">
        <h1>
            <span class="title-1">Raphaël Choquet</span>
            <span class="title-1">Développeur web Full-Stack</span>
        </h1>
        <span class="cta-scroll">click ou scroll pour continuer</span>
        <div class="banner-img" aria-hidden="true"></div>
    </section>
    <section id="projects">
        <div class="container">
            <h2 class="text-center title-section title-section--hidden"><span class="title-section-bg">Projets</span></h2>
            <ul class="cards-container">
                {{#each projects}}
                <li class="card u-transform3d">
                    <a class="card-inner card--hidden u-delay-{{math @index '%' 3}}"
                        href="{{link}}"
                        data-link="{{textLink}}"
                        data-largesrc="/img/{{image}}"
                        data-title="{{{title}}}"
                        data-description="{{{description}}}"
                        data-duration="{{duration}}"
                        data-techno="{{techno}}">
                        <img src="/img/{{thumbnail}}" alt="" width="360" height="300"/>
                        <div class="card-hover">
                            <h3>{{{title}}}</h3>
                            <p>
                                {{techno}}
                            </p>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <h2 class="text-center title-section title-section--hidden"><span class="title-section-bg">A propos</span></h2>
            <div class="row block-text block-text-hidden">
                <div class="col-md-6">
                    <p>
                        Bonjour, je suis Raphaël Choquet, développeur web Full-stack sur Paris. Je suis actuellement à la recherche
                        d'un poste pour octobre 2016 au sein d'une équipe compétente avec une bonne ambiance entre collégue.
                    </p>
                    <p>
                        Développeur web en alternance depuis 4 ans chez Lacoste, j'ai évolué à travers divers projet frontend et backend tout en suivant des cours à l'IESA Multimédia
                        en Stratégie Digital option développement.
                    </p>
                    <p>
                        Aprés avoir acquérir des connaissances en intégration ainsi qu'en Javascript et en PHP, Aujourd'hui je me tourne vers le NodeJS.
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="o-text-techno">
                        <span class="label">HTML</span>
                        <span class="label u-delay-1">CSS</span>
                        <span class="label u-delay-2">SASS</span>
                        <span class="label u-delay-3">Javascript</span>
                        <span class="label u-delay-4">Jquery</span>
                        <span class="label u-delay-5">AngularJS</span>
                        <span class="label u-delay-6">PHP</span>
                        <span class="label u-delay-7">MySQL</span>
                        <span class="label u-delay-8">Silex</span>
                        <span class="label u-delay-9">Symphony 2</span>
                        <span class="label u-delay-10">Wordpress</span>
                        <span class="label u-delay-11">NodeJS</span>
                        <span class="label u-delay-12">Git</span>
                        <span class="label u-delay-13">Gulp</span>
                    </p>
                    <p class="recommendation">
                        Si besoin, mon tuteur Damien Buchet peut attester de mon travail à Lacoste.<br>
                        Vous pouvez le contacter via <a href="mailto:dbuchet@lacoste.fr">dbuchet@lacoste.fr</a> ou au **.**.**.**.**.
                    </p>
                    <p>
                        <a class="o-text-link" target="_blank" href="/cv.pdf">Télécharger mon CV</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
